<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Analizador Léxico</title>
		<link
			rel="stylesheet"
			href="{{url_for('static', filename='css/style.css')}}"
		/>
	</head>
	<body>
		<div class="container">
			<form id="form">
				<textarea
					name="code"
					id="code"
					cols="30"
					rows="10"
					placeholder="Escribe tu código aquí"
				>
				</textarea>
			</form>
		</div>
		<script src="{{url_for('static', filename='js/app.js')}}"></script>
	</body>
</html>
